<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 map">
  <img class="img-responsive" ng-src="{{ $ctrl.pointdog.mapImage }}" alt="">
</div>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 contact">
    <!-- -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img class="img-responsive avatar" src="/assets/img/avatar_default.png" alt="">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 detail">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 username">{{ $ctrl.user.emergencyContactName }}</div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 url">http://point.dog/<span class="username">{{ $ctrl.user.username }}</span></div>
    </div>
    <!-- 
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 icons">
      <img class="img-responsive" src="/assets/img/icon_message_white.png">
      <img class="img-responsive" src="/assets/img/icon_call_white.png">
      <img class="img-responsive" src="/assets/img/icon_facetime_white.png">
      <img class="img-responsive" src="/assets/img/icon_email_white.png">
    </div>
    -->
    <!-- -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 description">
      {{ $ctrl.pointdog.userDescription }}
    </div>
    <!-- -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 services-text">
      Open this Pointdog in one of the following services: 
    </div>
    <!-- -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 map-connections">
        <a href="http://maps.google.com/maps?q={{ $ctrl.pointdog.location.lat}},{{ $ctrl.pointdog.location.lng }}&t=m" title="">
          <img class="img-responsive" src="/assets/img/google_maps.png">
        </a>
        <a href="http://maps.apple.com/?q={{ $ctrl.pointdog.location.lat}},{{ $ctrl.pointdog.location.lng }}&t=m" title="">
          <img class="img-responsive" src="/assets/img/apple_maps.png">
        </a>
        <a href="tomtomhome://geo:action=navigateto&lat={{ $ctrl.pointdog.location.lat}}&long={{ $ctrl.pointdog.location.lng }}&t=m" title="">
          <img class="img-responsive" src="/assets/img/tomtom.png">
        </a>
        <a href="waze://?ll={{ $ctrl.pointdog.location.lat}},{{ $ctrl.pointdog.location.lng }}&t=m" title="">
          <img class="img-responsive" src="/assets/img/waze.png">
        </a>
        <a href="https://www.instantstreetview.com/@{{ $ctrl.pointdog.location.lat}},{{ $ctrl.pointdog.location.lng }}&t=m" title="">
          <img class="img-responsive" src="/assets/img/street_view.png">
        </a>
    </div>
</div>