detail
  .carousel
    padding 0

  .contact
    background-color #3c3c3c
    min-height 200px
    padding 0px 0px 50px 0px !important
    margin-top: -1px; // due to left-floated contact div
    
    .avatar
      width 100%
      margin 10px 0px 0px 0px;

    .detail
      font-size 16px
      padding 10px 0px 10px 0px
      color #777
      
      > *
        margin 5px 0px 0px 0px
        padding 0px
      
      .username
        color #f2f1ef
    
    .icons
      padding 0px
      margin-top 10px

      img
        display inline-block
        width 24px
        margin-right 20px
        
    .description
      padding 0px
      
    .services-text
      margin-top 10px
      padding 5px 0px 0px 0px
      color gray
      
    .map-connections
      margin-top 10px
      padding 20px 0px 0px 0px

      img
        display inline-block
        margin 10px 10px 0px 0px
        width 64px
  