<ng-map center="{{ $ctrl.lat + 0.0025 }}, {{ $ctrl.lng }}" zoom="16" disable-default-u-i="{{ $ctrl.isMobile }}" default-style="false">
  <custom-control id="home" position="LEFT_BOTTOM" index="1">
    <!-- <img class="img-responsive" style="margin: 20px 0px 0px 8px;" src="/assets/imgs/pointdog_map_logo.png"> -->
  </custom-control>
  <custom-marker position="{{ $ctrl.lat }}, {{ $ctrl.lng }}" on-click="$ctrl.closeAndOpenInfoWindow()">
    <div class="marker-container">
      <img class="img-responsive" src="/assets/imgs/marker_icon.png">
      <img class="marker-point img-responsive" src="/assets/imgs/marker_point.png">
    </div>
  </custom-marker>
  <div class="si-trapezoid-wrapper text-center">
    <div class="circle-wrapper">
      <img class="pointdog-avatar-circle img-responsive" ng-src="{{ $ctrl.avatarUrl === '' && '/assets/img/avatar_default.png' || $ctrl.avatarUrl }}">
    </div>
    <img class="pointdog-kennel-top img-responsive" src="/assets/img/top-kennel.png">
    <div class="pointdog-information">
      <span class="information">{{ $ctrl.pointdog.name }}</span>
      <span class="emergency">{{ $ctrl.user.username }}</span>
    </div>
  </div>
  <div class="si-content-html">
    <div class="text-center">
      <img class="pointdog-fullscreen" src="/assets/img/fullscreen_marker.png">
      <img ng-click="enlargePicture()" class="img-responsive pointdog-image" ng-src="{{ $ctrl.images[0] }}">
    </div>
    <div class="text-center pointdog-description col-lg-12">{{ $ctrl.pointdog.userDescription }}</div>
    <div class="information">
      <span class="left-side">
        <span class="text">created at</span>
        <span class="pointdog-created">{{ $ctrl.pointdog.timestamp * 1000 | date: 'HH:mm' }}</span>
        <span class="text">on</span>
        <span class="pointdog-created">{{ $ctrl.pointdog.timestamp * 1000 | date: 'dd/MM/yy' }}</span>
      </span>
      <a ng-href="{{ $ctrl.isMobile ? 'https://itunes.apple.com/hu/app/apple-store/id375380948?mt=8' : 'http://pointdog.com/' }}">
        <img class="pointdog-logo img-responsive" src="/assets/imgs/pointdog_map_logo.png">
      </a>
    </div>
  </div>
</ng-map>
<div class="app-dropdown" ng-click="setDropdownState()">
  <span class="dropdown-text dropdown-state-0">Open this Point.dog on</span>
  <span class="dropdown-text dropdown-state-1">Close</span>
  <img ng-class="$ctrl.isMobile ? 'dropdown-arrow dropdown-arrow__mobile' : 'dropdown-arrow dropdown-arrow__desktop'" src="/assets/imgs/app_dropdown_arrow.png">
  <ul class="dropdown-list">
    <li class="list-item">
      <a href="list-maplink" ng-href="{{ $ctrl.mapUrls.google }}">Google Maps</a>
    </li>
    <li class="list-item">
      <a href="list-maplink" ng-href="{{ $ctrl.mapUrls.apple }}">Apple Maps</a>
    </li>
    <li class="list-item">
      <a href="list-maplink" ng-href="{{ $ctrl.mapUrls.waze }}">Waze</a>
    </li>
    <li class="list-item">
      <a href="list-maplink" ng-href="{{ $ctrl.mapUrls.tomtom }}">TomTom Go</a>
    </li>
  </ul>
</div>
<div class="app-lightbox" ng-click="hideOverlay()">
  <img ng-click="enlargePicture()" class="img-responsive lightbox-image" ng-src="{{ $ctrl.images[0] }}">
</div>