detail
  .map
    margin-top 0px
    padding 0px !important
    img
      width 100%

  .contact
    background-color #3c3c3c
    min-height 200px
    padding 0px 0px 50px 0px !important
    margin-top: -1px; // due to left-floated contact div
    
    .avatar
      position relative
      width 96px
      bottom 20px
      margin 0px 16% 0px 16%;

    .detail
      font-size 16px
      padding 10px 0px 10px 0px
      color #777
      
      > *
        margin 5px 0px 0px 0px
        padding 0px
      
      .username
        color #f2f1ef
    
    .icons
      padding 0px
      margin-top 10px

      img
        display inline-block
        width 24px
        margin-right 20px
        
    .description
      padding 0px
      
    .services-text
      margin-top 10px
      padding 5px 0px 0px 0px
      color gray
      
    .map-connections
      margin-top 10px
      padding 20px 0px 0px 0px

      img
        display inline-block
        margin 10px 10px 0px 0px
        width 64px
      
      

/*
detail
  color gray
  width 50%

.detail-image
  width 100%
  
  img
    width 100%
    height 350px
    
.detail-information
  
  .user
    width 100%
    display flex
    flex-direction row
    
.avatar
  margin 5px
  
  img
    width 50px

.profile
  padding 20px
  .username
    color white
  .url
    padding 10px 10px 10px 0
    
.icons
  display flex
  flex-direction row
  
  img
    width 50px
    
.mapconnections
  display flex
  flex-direction row
  
  a
    margin 5px
    */
  