.detail
  background-color #3c3c3c

  .indicator
    background-color #3c3c3c
    
    .text
      color grey
      font-size 16px

  .maps
    background-color #3c3c3c
    padding 0 5px 15px 5px

    .image
      display inline-block
      width 54px
      margin 5px 20px 5px 0px
      
    .tomtom
      .image
        width 62px
    
    .streetview
      .image
        width 70px    
    .waze
      .image
        width 58px
    .here
      .image
        width 62px
        margin-right 0px // set last child

  /* Gallery block */
  .carousel
    padding 0
    
    .img-container
      background-position center
      background-size cover
      height 500px

  /* Info block */
  .info
    padding 15px 0px 15px 0px
    margin-top: -1px; // due to left-floated contact div
    
    color gray
    background-color #3c3c3c
    
    .left-side, .right-side
      padding 10px
    
    /* Tex */
    .text--white
      color #f2f1ef

    /* Avatar component */
    .info-avatar
      //margin 10px 0px 0px 0px;
      
      /* Profile image */
      .image
        min-width: 64px
        max-width: 112px // limit responsiveness

    /* Contact info component */
    .info-contact
      padding 10px 0px 0px 25px
      
      color #777
      
      font-size 16px
      
    /* Contact name */
    .info-name
      margin 0
      padding 0
      
      .text
        text-transform capitalize
      
    /* Contact url */
    .info-url
      display inline-flex
      margin 0
      padding 0
        
    .info-description
      padding 0
      margin-top 25px
      
    .info-services
      padding 0px 0px 0px 25px
      margin-top 10px
  
      color gray
  