body
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background url("/assets/img/pointdog_background.jpg") no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  
.router
  flex 1