html
  background url("/assets/img/pointdog_background.png") no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
